<html>
  <head>
    <script language="javascript" src="/static/js/raphael.js"></script>
    <script language="javascript" src="/static/js/conceptTree.js"></script>
    <script language="javascript" src="/static/js/mootools.js"></script>
    <script language="javascript" src="/static/js/general.js"></script>
    <script language="javascript" src="/static/js/conceptTreeDrawing.js"></script>
  </head>
  <body>
		<input type="text" id="main_concept" name="main_concept"/>
		<input type="button" id="go" value="go!"/>

		<div id="conceptTreeStr"/>
		<div id="notepad"/>
  </body>
</html>
